<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SearchGitHub</title>
<!--   <link rel="icon" type="image/x-icon" href="public/imgs/project_organization_icon.ico"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
  <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
  <h1><i class="fab fa-github-alt"></i> Search GitHub</h1>
  <p>this is a test for serving it up!</p>

<!--   <script src="app.js"></script> -->
  <script src="/scripts/github.js"></script>
  <script src="/scripts/ui.js"></script>
</body>
</html>